{erl_opts, [debug_info]}.
{deps, [
%%    {erlport, "0.10.0"}
    {erlport, {git, "https://github.com/heyoka/erlport.git", {branch, "master"}}}
%%        {erlport, ".*", {git, "git://github.com/hdima/erlport.git",
%%    "ae6b8802b3883f9f350921b779d0e91784de5112"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [pythra]}
]}.
